.about-content h2, .form-2 h2{
    margin-left: 0;
    margin-left: 0;
}


h2{
    margin: 2rem 0;
}

img{
    width: 100%;
}

.form-control{
    color: #000;
}

.form-img,.form{
    width: 45%;
} 

#contact{
    margin-top: -1rem;
    background-color: #fff;
}

.contact-bg{
    background: url('../img/david-hurley-aNR_LRKknN0-unsplash.jpg');
    height: 40vh;
    display: grid;
    place-items: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.contact-bg > .heading{
    font-size: 32px;
    color: #fff !important;
}


.form-control:focus{
    box-shadow: none;
    border-color: #333;
}

.form-2{
    text-align: left;
    width: 100%;
}

 .special-img{
    width: 90%;
}

#footer{
    padding-top: 60px;
}

.contact-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.25rem;
}
.contact-form div{
    width: 80%;
}

.line-height{
    line-height: 2;
}
.contact-form-2{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin: 4rem 0;
}

.social-links-2{
    display: flex;
    flex-direction: row;
}

.btn{
    width: 200px;
    padding: .375rem .75rem;
    margin-top: 1rem;
    text-transform: uppercase;
    color: white;
    background-color: #333333;
}

.btn-primary{
    border-color: transparent;
}

.social-links-2 i{
    color: #fff;
    width: 45px;
    height: 45px;
    margin-right: 1.5rem;
    text-align: center;
    border-radius: 50%;
    background-color: #333;
}

.social-links-2 i:hover{
    background-color: #5177be;
}

#register{
    background-color: #5cb85c;
    width: 200px;
}

@media only screen and (max-width: 768px){
    #hero{
        background-position-x: 75%;
    }
    .contact-form,.contact-form-2{
        flex-direction: column;
        justify-content: center;
    }
    .contact-form > .form-img{
        width: 70%;
    }
    
    .form-img{
        font-size: 14px;
        width: 90%;
    }
    .contact-form div{
        width: 100%;
        margin: 2rem 0;
        margin-bottom: 1rem;
    }

    h2{
        margin: 1rem;
    }
    .form{
        width: 90%;
    }
    .form h3{
        margin: 3rem 0;
    }

}