body{
    color: #1b1b1b;
}

.about-content h2, .form-2 h2{
    margin-left: 0;
    margin-left: 0;
}

p{
    color: #565;
}

h2{
    margin: 2rem 0;
}



img{
    width: 100%;
}

.form-control{
    color: #000;
}

.form-img,.form{
    width: 45%;
} 

#contact{
    margin-top: -1rem;
    background-color: #fff;
}

#contact__heading{
    margin-top: 14vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-me{
    width:45%;
    font-size: 1.2rem;
    line-height: 2;
}

.about-me div{
    overflow:hidden;
    background-color: #fff;
}

#about-text{
    display: inline-block;
    transform: translateY(120%);
}

.about-img{
    position: relative;   
    width: 50%;
}

.about-img:before{
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    height: 70%;
    width: 70%;
    background-color: #f077a7d0;
    z-index: -1;
}
.about-img img{
    max-width: 80%;
}
.about-heading{
    font-size: 1.3rem;
}
.about-me .serif{
    font: 400 26px/2 'Playfair Display',serif;
    letter-spacing: .03em;
    font-weight: 600;
    font-size: 1.25rem;
}


.important{
    margin: 0 .25rem;
    position: relative;
    display: inline-block;
}

.important::before{
    content: '';
    height: 4px;
    width: 100%;
    background-color: #f077a793;
    z-index: -1;
    position: absolute;
    bottom: 8px;
}

.training-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    height: 40px;
  
    position: fixed;
    right: 10px;
    bottom: 20px;
    width: 40px;
    z-index: 2;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .icon img {
    margin-top: .5rem;
    height: 25px;
  }
  

.contact-bg{
    background: url('../img/david-hurley-aNR_LRKknN0-unsplash.jpg');
    height: 40vh;
    display: grid;
    place-items: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.contact-bg > .heading{
    font-size: 32px;
    color: #fff !important;
}

.service-slide{
    position: relative;
    margin-top: 3rem;
}
.carousel-caption-2  a.mt-2{
    display: block;
    margin-top: 1.5rem;
    font-size: 14px;
    text-decoration: underline;
    color: rgb(119, 119, 111);
}

.service-slide .heading{
    font-size: 14px;
    padding: 0 .75rem;
}

.btn:focus, .btn:active,.service-slide .btn:hover{
    background-color: #3a2e2eea;
    color: #fff !important;
    border: 0;
}

.service-slide a:hover{
    color: unset !important;
}


.service-slide hr{
    border-top: 1px solid #21171760;
    width: 100%;
}

.price span{
    display: block;
    font-size: 26px;
}


.form-control:focus{
    box-shadow: none;
    border-color: #333;
}

.form-2{
    text-align: left;
    width: 100%;
}

 .special-img{
    width: 90%;
}

#footer{
    padding-top: 60px;
}

.contact-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.25rem;
}
.contact-form div{
    width: 80%;
}

.line-height{
    line-height: 2;
}
.contact-form-2{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    margin: 4rem 0;
}

.social-links-2{
    display: flex;
    flex-direction: row;
}

.btn{
    width: 200px;
    padding: .375rem .75rem;
    margin-top: 1rem;
    text-transform: uppercase;
    color: white;
    background-color: #333333;
}

.btn-primary{
    border-color: transparent;
}

.social-links-2 i{
    color: #fff;
    width: 45px;
    height: 45px;
    margin-right: 1.5rem;
    text-align: center;
    border-radius: 50%;
    background-color: #333;
}

.social-links-2 i:hover{
    background-color: #5177be;
}

#register{
    background-color: #5cb85c;
    width: 200px;
}
.navbar-brand {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  .logo-container{
    width: 80px;
    margin-right: 1rem;
  }

@media only screen and (max-width: 768px){    
    
    .navbar-brand span {
        font-size: .8rem;
    }
    
    .logo-container{
        margin-right: 0;
        width: 60px;
    }
    
    #hero{
        background-position-x: 75%;
    }
    #contact__heading{
        margin-top: 12vh;
        flex-direction: column;
    }
    .about-img{
        width: 80%;
        margin-top: 4rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .about-img::before{
        top: -18px;
        left: 16px;
    }
    .about-me{
        width: 100%;
        margin-top: 2rem;
    }
    .about-me span, .important a{
        font-size:18px;
    }
    .contact-form,.contact-form-2{
        flex-direction: column;
        justify-content: center;
    }
    .contact-form > .form-img{
        width: 70%;
    }
    
    .form-img{
        font-size: 14px;
        width: 90%;
    }
    .contact-form div{
        width: 100%;
        margin: 2rem 0;
        margin-bottom: 1rem;
    }

    h2{
        margin: 1rem;
    }
    .form{
        width: 90%;
    }
    .form h3{
        margin: 3rem 0;
    }

}

@media (min-width:800px){
    .service-slide{
        max-width: 800px;
    }
    .service-slide .carousel-caption-2{
        position: absolute;
        left: 500px;
        height: 355px;
        top: 30px;
        width: 400px;
    
    }

    .service-slide .img-top{
        width: 600px;
        height: 400px;
    }
    
    .img-top img{
        object-fit: cover;
        object-position: 0% 25%;
    }

    #retouching{
        display: flex;
        justify-content: center;
        background: rgb(67,36,25);
    }
    #retouching img{
        object-fit: contain;
        width: auto;
    }

    .img-top:hover{
        filter: brightness(.8);
        cursor: pointer;
    }

    .row{
        justify-content: center;
    }

    form .row{
        justify-content: flex-start;
    }

    .contact-bg{
        background-size: cover;
        height: 60vh;
        background-position: 0 30%;
    }
}