

.card {
	color: #242944;
	box-shadow: 2px 2px 10px #777777;
	border-top: 8px solid #3A3A3A;
	border-radius: 4px;
	padding: 16px 32px 32px 32px;
	margin: 16px;
	width: 280px;
}

.card:hover {
	border-top: 8px solid #6863CE;
	border-radius: 4px;
	transform: translateY(-1em);
	transition: all 0.2s ease-out;
}

.card__title {
	font-size: 0.875rem;
	text-transform: uppercase;
	letter-spacing: 4px;
	padding-bottom: 8px;
}

.card__body {
	position: relative;
	padding-bottom: 16px;
}

.price {
	font-size: 4rem;
	font-weight: bold;
	text-shadow: 0 0 1px #000;
	color: #7FC146;
	padding-left: 24px;
	margin: 32px 0;
}

.price__symbol {
	position: absolute;
	left: 0px;
	top: 42px;
	font-size: 1.5rem;
}

.price__tag {
	text-transform: uppercase;
	margin-bottom: 8px;
}


.card__button {
	width: 100%;
	background-color: #7FC146;
	border: 1px solid #7FC146;
	border-radius: 8px;
	margin-top: 32px;
	padding: 16px 0;
	font-size: 1.25rem;
	font-weight: bold;
	letter-spacing: 2.66667px;
	text-transform: uppercase;
	text-shadow: 1px 1px #3A3A3A;
	color: #ffffff;
}

.card:hover .card__button {
	background-color: #6863CE;
	border-color: #6863CE;
}

.card:hover .price {
	color: #6863CE;
}